/* General Style */
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: none;
}

textarea {
    resize: none;
  }

.hidden{
    display: none !important;
}


#pageContainer {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

#headContainer {
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 7px 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #e8e8e8;
    background-color: #fff;
    z-index: 1;
    display: flex;
    align-items: center;
}

#headContainer button:not(.searchButton),
#headContainer .rightIcons img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
}

#headContainer .rightIcons {
    height: 100%;
}

#headContainer button img {
    width: 100%;
}

#headContainer .logoContainer {
    width: 150px;
}

#headContainer .logoContainer img {
    height: 50px;
    margin-left: 8px;
}

#sideNavContainer {
    width: 240px;
    background-color: #f5f5f5;
    padding-top: 56px;
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

#mainSectionContainer {
    padding-top: 56px;
    display: flex;
    /* Background Color */
    /* background-color: #fafafa; */
}

#mainSectionContainer.leftPadding {
    padding-left: 240px;
}

#mainContentContainer {
    padding: 10px 30px;
    display: flex;
    flex: 1;
    background-color: #fafafa;
    box-sizing: border-box;
}

#headContainer .searchBarContainer {
    margin: 0 40px;
    flex: 1;
    display: flex;
}

#headContainer .searchBarContainer form {
    flex: 1;
    display: flex;
}

#headContainer .searchBarContainer .searchBar {
    flex: 1;
    max-width: 600px;
    color: #111;
    padding: 2px 6px;
    font-size: 14px;
    font-weight: 100;
    border: 1px solid #ccc;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-right: none;
    height: 32px;
    box-shadow: #eee 0px 1px 2px 0px inset;
}

#headContainer .searchBarContainer .searchButton {
    height: 32px;
    background-color: #f8f8f8;
    border: 1px solid #d3d3d3;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: pointer;
    width: 65px;
}

#headContainer .searchBarContainer .searchButton img {
    height: 20px;
    width: 20px;
}

.column {
    flex-grow: 1;
    background-color: #fff;
    min-height: 300px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
/* SignUp Page */

.signInContainer{
    background-color: #efefee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signInContainer .column{
    flex-grow: 0;
    width: 450px;
    padding: 20px 35px;
    max-height: 100%;
    overflow-y: auto;
}

.signInContainer .column .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.signInContainer .column .header img{
    width: 100px;
}

.signInContainer .column .header h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin: 0;
}

.signInContainer .column .header span{
    font-size: 14px;
    padding-top: 5px;
}

.signInContainer .column form input:not([type="submit"]) {
    font-size: 14px;
    border: none;
    margin: 10px 0;
    border-bottom: 1px solid #dedede;
}

.signInContainer .column form input[type="submit"]{
    margin: 10px 5px;
}

.signInContainer .column .signInMessage{
    font-size: 14px;
    font-weight: 400;
}

.errorMessage{
    color: #f00;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Watch Page */

.watchLeftColumn{
    flex: 1;
}

.watchLeftColumn .videoPlayer{
    width: 100%;
}

.suggestions{
    max-width: 425px;
    flex-grow: 1;
    height: 100%;
    padding-left: 24px;
}

.videoInfo{
    width: 100%;
    padding: 20px 0 8px 0;
}

.videoInfo h1{
    display: block;
    overflow: hidden;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.videoInfo .bottomSection{
    display: flex;
}

.videoInfo .bottomSection .viewCount{
    color: rgba(17, 17, 17, 0.6);
    font-size: 16px;
    flex: 1;
}

.videoInfo .bottomSection .controls button{
    padding: 2px;
}

.videoInfo .bottomSection .controls button img{
    width: 30px;
}

.secondaryInfo{
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.secondaryInfo .topRow{
    display: flex;
    margin-bottom: 12px;
}

.profilePicture{
    height: 100%;
}

.secondaryInfo .topRow .profilePicture{
    margin-right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.secondaryInfo .topRow .uploadInfo{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.secondaryInfo .topRow .uploadInfo .date{
    color: rgba(17, 17, 17, 0.6);
    font-size: 13px;
    font-weight: 400;
}

.secondaryInfo .topRow .button{
    font-weight: 500;
    font-size: 14px;
}

.secondaryInfo .descriptionContainer{
    margin-left: 64px;
    max-width: 615px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.subscribeButtonContainer .subscribe{
    background-color: #f00;
    color: #fff;
}

.subscribeButtonContainer .unsubscribe{
    background-color: #eee;
    color: rgba(17, 17, 17, 0.6);
}

.editVideoButtonContainer .edit{
    background-color: #2692e6;
    color: #fff;
}

.secondaryInfo .topRow .uploadInfo .owner a{
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */
/* Comment Section */

.commentSection .header{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 32px;
}


.commentSection .itemContainer{
    margin-bottom: 16px;
}

.commentSection .header .commentForm,
.itemContainer .commentForm{
    display: flex;
}

.commentSection .comment{
    display: flex;
}

.commentSection .header .commentForm .profilePicture,
.commentSection .comment .profilePicture, 
.commentForm .profilePicture{
    margin-right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}


.commentSection .header .commentForm textarea,
.itemContainer .commentForm textarea{
    flex: 1;
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #111;
    resize: none;
    padding: 5px;
}

.itemContainer .commentForm textarea{
    overflow: hidden;
    height: 30px;
}

.commentSection .header .commentForm .postComment,
.itemContainer .commentForm .postComment,
.itemContainer .commentForm .cancelComment{
    background-color: #2692e6;
    color: #fff;
    height: 36px;
    font-weight: 500;
    margin-left: 5px;
}

.itemContainer .commentForm .cancelComment{
    background-color: transparent;
    color: rgba(17, 17, 17, 0.6);
}

.itemContainer .commentForm .cancelComment:hover{
    color: #000;

}

.commentSection .header .commentCount{
    margin-bottom: 24px;
}

.commentSection .commentHeader{
    margin-bottom: 2px;
}

.commentSection .comment .username{
    margin-right: 8px;
    color: #111;
    font-size: 13px;
    font-weight: 500;
}

.commentSection .comment .body{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.itemContainer .controls{
    margin-left: 64px;
}

.itemContainer .controls button,
.itemContainer .controls .likesCount{
    height: 32px;
    background-color: transparent;
    font-size: 13px;
    font-weight: 500;
    color: rgba(17, 17, 17, 0.6);
}

.itemContainer .controls button{
    cursor: pointer;
}

.itemContainer .controls .likesCount{
    margin: 0 5px;
}

.itemContainer .controls button img{
    height: 16px;
}

.itemContainer .commentForm .profilePicture{
    width: 30px;
    height: 30px;
}

.commentSection .comment .timeSpan{
    color: #888;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.comments .repliesSection{
    padding-left: 64px;
    margin-top: 16px;
}

.commentSection .itemContainer .viewReplies{
    color: #2692e6;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */
/* Suggestions Videos */

.videoGrid{
    display: flex;
    flex-wrap: wrap;
}

.suggestions .videoGridItem{
    display: flex;
    height: auto;
}

.videoGridItem{
    height: 200px;
    margin-right: 4px;
    margin-bottom: 24px;
}

.suggestions .videoGridItem .thumbnail{
    margin-right: 8px;
}

.videoGridItem .thumbnail{
    position: relative;
    width: 210px;
    height: 118px;
}

.videoGridItem .thumbnail img{
    width: 100%;
    height: 100%;
}

.videoGridItem .thumbnail .duration{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 2px 4px;
    font-size: 12px;
}

.videoGridItem .details{
    padding-right: 24px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 210px;
}

.suggestions .videoGridItem .details{
    padding-right: 0;
    flex: 1;
}

.videoGridItem .details .title{
    margin: 8px 0;
    max-height: 32px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #212529;
}

.videoGridItem .details .username,
.videoGridItem .details .stats{
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.videoGridHeader{
    display: flex;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
}

.videoGridHeader div{
    flex: 1;
}

/* /////////////////////////////////////////////////////////////////////////////// */
/* Search Page */

.videoGrid.large{
    flex-direction: column;
    flex: 1;
}

.videoGrid.large .videoGridItem{
    display: flex;
    height: auto;
}

.videoGrid.large .videoGridItem .thumbnail{
    width: 266px;
    height: 138px;
    margin-right: 16px;
}

.videoGrid.large .videoGridItem .details{
    max-width: 600px;
    flex: 1;
}

.videoGrid.large .videoGridItem .details .title{
    font-size: 18px;
    line-height: 24px;
    width: max-content;
}

.videoGridItem .details .description{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #212529;
    margin: 8px 0;
    max-height: 60px;
    overflow: hidden;
}

.largeVideoGridContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.videoGridHeader .right{
    text-align: right;
}

.videoGridHeader a{
    color: rgba(17, 17, 17, 0.6);
}

.videoGridHeader a:after{
    content: " | ";
}

.videoGridHeader a:last-child::after{
    content: "";
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* Style the user icon on the header */

.signInLink{
    color: #f00;
    margin-left: 15px;
}


/* ////////////////////////////////////////////////////////////////////////////////// */
/* Style the navigation menu */

#sideNavContainer .navigationItems{
    overflow-y: auto;
}

#sideNavContainer .navigationItem{
    height: 40px;
    display: flex;
}

#sideNavContainer .navigationItem img{
    height: 18px;
    margin-right: 27px;
}

#sideNavContainer .navigationItem span{
    flex: 1;
    color: #111;
    font-size: 14px;
}

#sideNavContainer .navigationItem a{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 24px;
}

#sideNavContainer .navigationItem a:hover{
    background-color: #e8e8e8;
}

#sideNavContainer .heading{
    color: rgba(17, 17, 17, 0.6);
    font-size: 14px;
    font-weight: 500;
    padding: 10px 24px;
    border-top: 1px solid #e8e8e8;
    display: block;
}